.container{
    width: 607px;
    height: 829px;
    margin: auto;
    margin-top: 75px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #9c50f9 0%, #4605a2 80%);
}

.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;
}

.top-bar input{
    display: flex;
    width: 362px;
    height: 78px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}

.weather-image{
    margin-top: 29px;
    display: flex;
    justify-content: center;
}

.weather-temp{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: white;
    font-size: 120px;
    font-weight: 600;
}

.weather-location{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    color: white;
    font-size: 40px;
    font-weight: 400;
}

.weather-condition{
    margin: 20%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
}